@import "tailwindcss";

@theme {
  /* Screens */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1020px;
  --breakpoint-xl: 1440px;

  /* Colors */
  --color-light-blue: hsl(215.02, 98.39%, 51.18%);
  --color-dark-blue: hsl(213.86, 58.82%, 46.67%);
  --color-light-green: hsl(156.62, 73.33%, 58.82%);

  /* Font family */
  --font-sans: "Poppins", sans-serif;

  /* Spacing */
  --spacing-180: 32rem;
}

.card {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
     rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
